/* ============================================================
   BLOQUE: CHECKBOX
   ============================================================ */
.checkbox-container {
  margin: 20px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  gap: 8px;
}
