/* ============================================================
   BLOQUE 1: FORMULARIO CON SELECT
   ============================================================ */
#form-select {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid #0be716;
  background-color: #fafafa;
}

#form-select label {
  display: block;
  margin-bottom: 8px;
}

#form-select select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}
